<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google OAuth</title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="row py-5 justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center py-4">Google OAuth in Angular 10</h1>
        <div *ngIf="loggedIn===false">
          <div>
            <!-- <button type="button" (click)="signInWithFB()" class="btn btn-primary">Sign In With Facebook</button> -->
            <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
          </div>
        </div>
        <div *ngIf="loggedIn===true">

          <img src="{{ user.photoUrl }}">
          <div>
            <h4>{{ user.name }}</h4>
            <p>{{ user.email }}</p>
          </div>

          <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
